<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hello!</title>
</head>
<body>
    <header>
        <img src="./public/img/logo_Mesa de trabajo 1.png" alt="logo hello">
        <nav>
            <ul>
                <li><a href="#">Find your friend</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Adoption info</a></li>
                <li><a href="#">Pet Care</a></li>
            </ul>
        </nav>
        <div class="nav-bar">
            <div class="search">
                <input class="bar" type="search" name="search">
                <img class="lupa" src="./public/img/lupa.png" alt="lupa busqueda">
            </div>
            <button class="btn">Login</button>
        </div>
    </header>
    <section class="home">
        <div class="home-title">
            <h1 class="title-blue">Hello!</h1>
            <h1 class="title-yellow">it's me</h1>
            <h2 class="title-orange">your new best friend</h2>
            <button><a href="#">Get Started</a></button>
        </div>
        <img class="imageHome" src="./public/img/home-02.png" alt="foto de perrito">
    </section>
    
</body>
</html>