<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hello!</title>
</head>
<body>
    <header>
        <img src="./public/img/logo_Mesa de trabajo 1.png" alt="logo hello">
        <nav>
            <ul class="menu">
                <li><a href="#">Find your friend</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Adoption info</a></li>
                <li><a href="#">Pet Care</a></li>
            </ul>
        </nav>
        <div class="nav-bar">
            <div class="search">
                <input class="bar" type="search" name="search">
                <img class="lupa" src="./public/img/lupa.png" alt="lupa busqueda">
            </div>
            <button class="btn">Login</button>
        </div>
    </header>

    <section class="home">
        <div class="home-title">
            <h1 class="title-blue">Hello!</h1>
            <h1 class="title-yellow">it's me</h1>
            <h2 class="title-orange">your new best friend</h2>
            <button><a href="#">Get Started</a></button>
        </div>
        <img class="imageHome" src="./public/img/home-02.png" alt="foto de perrito">
    </section>

    <section class="options">
        <h2>Some tips from professionals for you</h2>
        <div class="btn-tips">
            <button><img class="img-btn" src="./public/img/iconos-02.png" alt="entrenamiento canino"><a href="#">Dog Trainig</a></button>
            <button><img class="img-btn" src="./public/img/iconos-05.png" alt="cuidados higienicos"><a href="#">Hygienic Care</a></button>
            <button><img class="img-btn" src="./public/img/iconos-03.png" alt="gatito lindo"><a href="#">Aesthetic Care</a></button>
            <button><img class="img-btn" src="./public/img/iconos-04.png" alt="cuidados veterinarios"><a href="#">Healthcare Tips</a></button>
        </div>
    </section>

    <section class="about">
        <img class="image-about" src="./public/img/HOME1-02 (1).png" alt="gatito">
        <div class="about-us">
            <p class="title-about">About us</p>
            <h2>Animal have come so much in <span class="text-green">our lives!</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. </p>
            <button class="green">Learn more</button>
        </div>
    </section>

    <section class="clients">
        <h2>Whats our client says!</h2>
        <div class="cards">
            <div class="card">
                <img class="client" src="./public/img/fotos-04.png" alt="mujer con perro">
                <img class="stars" src="./public/img/Group 28.png" alt="estrellas">
                <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
            </div>
            <div class="card">
                <img class="client" src="./public/img/fotos-03.png" alt="mujer con gato">
                <img class="stars" src="./public/img/Group 28.png" alt="estrellas">
                <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
            </div>
            <div class="card">
                <img class="client" src="./public/img/fotos-02.png" alt="mujer con perro">
                <img class="stars" src="./public/img/Group 28.png" alt="estrellas">
                <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="newsletter">
            <h2>Wants to adop a new friend</h2>
            <input type="email" name="email" placeholder="Type your email">
            <button>Send Now</button>
        </div>
        <div>
            <div class="redes">
                <p>Follow us</p>
                <div class="redes-img">
                    <a href="#"><img src="./public/img/fb.png" alt="Facebook"></a>
                    <a href="#"><img src="./public/img/ig.png" alt="instagram"></a>
                    <a href="#"><img src="./public/img/tw.png" alt="twitter"></a>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </nav>
            <div class="dress">
                <div class="dress-1">
                    <p class="number">(232) 215 2635</p>
                    <p class="number">-</p>
                    <p>145 street view Ave</p>
                    <p>Mokiavalle, NC 27854</p>
                </div>
                <div class="dress-2">
                    <p class="number">(232) 215 2635</p>
                    <p class="number">-</p>
                    <p>145 street view Ave</p>
                    <p>Mokiavalle, NC 27854</p>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>