@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    box-sizing: border-box;
}

:root {
    --one-color: #F94144;
    --two-color: #F3722C;
    --three-color: #F8961E;
    --four-color: #F9C74F;
    --five-color: #90BE6D;
    --six-color: #43AA8B;
    --seven-color: #577590;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: 'Quicksand';
}

/*---HEADER---*/

.flex {
    display: flex;
}

header {
    margin: 1%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 7%;
}

.nav-menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 100px;
}

.nav-menu li {
    display: block;
    height: 100%;
    margin-right: 30px;
    position: relative;
    align-items: center;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-menu li a {
    text-decoration: none;
    color: var(--seven-color);
    font-size: 14px;
    font-weight: 600;
}

.nav-menu li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: -3%;
  }

.nav-menu li:hover::after {
    width: 100%;
    height: 1.5px;
    background-color: var(--seven-color);
  }

.busq {
    background-color: var(--seven-color);
    opacity: 0.3;
    border-radius: 40px;
    border: none;
    width: 70%;
    outline: none;
}

.lupa {
    height: 11px;
    width: 10px;
    position: relative;
    right: 22px;
    top: 2px;
}

.btn {
    background-color: var(--seven-color);
    border-radius: 40px;
    border: none;
    color: white;
    width: 50%;
    font-family: 'quicksand';
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.5;
}

@media (max-width: 426px) {

    body {
        margin: 0 auto;
        max-width: 100%;
    }

    header {
        margin: 3%;
    }

    .nav-menu {
        display: none;
    }

    img {
        width: 15%;
    }

    .search {
        position: relative;
        left: 26%;
        top: -2px;
    }

    .busq {
        width: 50%;
    }

    .lupa {
       height: 9px;
       width: 8px; 
    }

    .btn {
        font-size: 10px;
        width: 40%;
        height: 18px;
    }
}

/*---HOME---*/

.home {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px -140px 0px;
}



.title-blue {
    display: inline;
    color: var(--seven-color);
    font-size: 167px;
}

.title-yellow {
    display: inline;
    color: var(--three-color);
    font-family: 'Pacifico';
    font-size: 151px;
    position: relative;
    top: -22%;
}

.title-orange {
    color: var(--two-color);
    font-size: 40px;
    position: relative;
    top: -36%;
}

.orange {
    position: relative;
    top: -38%;
    background-color: var(--three-color);
    width: 45%;
    height: 30px;
}

.home-title button a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand';
    font-size: 17px;
}

.imageHome {
    width: 50%;
    height: 50%;
}

@media (max-width: 426px) {
    .home {
        margin: 40px 0px -60px 0px;
    }

    .home-title {
        margin-left: 12%;
    }

    .title-blue {
        font-size: 70px;
    }

    .title-yellow {
        font-size: 50px;
        top: -20%;
    }

    .title-orange {
        font-size: 18px;
        top: -32%;
    }

    .home-title button {
        top: -34%;
        width: 60%;
        height: 20px;
    }

    .home-title button a{
        font-size: 12px;
    }
}

/*---OPTIONS---*/

.options h2 {
    color: var(--seven-color);
    font-size: 20px;
}

.btn-tips {
    display: flex;
    justify-content: space-between;
}

.btn-tips button {
    border: none;
    background-color: #e6e6e6;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    border-radius: 14px;
}

.btn-tips a {
    font-family: 'Quicksand';
    color: var(--seven-color);
    text-decoration: none;
    font-weight: 600;
}

.img-btn {
    width: 40px;
    height: 40px;
}

@media (max-width: 426px) {
    .options h2 {
        color: var(--seven-color);
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    .btn-tips {
        flex-direction: column;
        align-items: center;
    }

    .btn-tips button {
        width: 60%;
        margin-bottom: 15px;
    }
}

/*---ABOUT US---*/

.about {
    display: flex;
    align-items: center;
    margin: 8% 0;
}

.about-us {
    color: var(--seven-color);
}

.image-about {
    width: 50%;
}

.title-about {
    font-weight: 700;
    font-size: 19px;
}

.about-us h2 {
    font-size: 42px;
    line-height: 50px;
    margin: 0;
}

.text-green{
    color: var(--six-color);
    font-family: 'Pacifico';
    font-size: 53px;
}

.about-us p {
    font-size: 20px;
}

.green {
    background-color: var(--six-color);
    color: white;
    font-size: 15px;
    width: 40%;
    height: 30px;
}

@media (max-width: 426px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .image-about{
        width: 100%;
    }

    .about-us {
        margin: 0 8%;
    }

    p.title-about {
        font-size: 15px;
        margin: 0;
    }

    .about-us h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .text-green{
        font-size: 34px;
    }

    .about-us p {
        font-size: 15px;
        text-align: justify;
    }

    .green {
        font-size: 10px;
        width: 30%;
        height: 20px;
    }
}

/*---CLIENTS---*/

.clients {
    display: flex;
    flex-direction: column;
    margin: 8% 0;
}

.clients h2 {
    font-size: 35px;
    color: var(--seven-color);
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(white, #DFDFE0);
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
}

img.client {
    width: 80%;
    height: 80%;
    margin: 10px 0;
}

img.stars {
    width: 30%;
    height: 30%;
}

.card p {
    color: var(--seven-color);
    font-size: 12px;
    font-weight: 600;
    margin: 6% 15%;
    text-align: justify;
}

@media (max-width: 426px) {

    .clients h2 {
        font-size: 30px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    img.client {
        width: 40%;
        height: 40%;
    }

    img.stars {
        width: 10%;
        position: relative;
        bottom: 30px;
        left: 15px;
    }

    .card p {
        font-size: 8px;
        margin: 0;
        position: relative;
        right: 20px;
    }
}

/*---FOOTER---*/

footer {
    background-color: #D4D4D4;
    padding: 16px 0;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.newsletter h2 {
    color: var(--seven-color);
    font-size: 36px;
    margin-bottom: 10px;
}

.susbscription {
    border: none;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
    width: 47%;
    height: 30px;
}

.send {
    font-size: 10px;
    width: 12%;
    height: 17px;
    position: relative;
    bottom: 24px;
    left: 17%;
}

.other {
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.redes p {
    color: var(--seven-color);
    font-weight: 700;
    margin-bottom: 5px;
}

.social-img img{
    width: 28px;
    margin-right: 5px;
}

.dress {
    display: flex;
    color: var(--seven-color);
    font-size: 10px;
}

.number {
    font-weight: 700;
    margin: 0;
}

.dress-1 {
    margin-left: 15px;
}

.dress-1 p {
    margin: 0;
}

@media (max-width: 426px) {

    .newsletter h2 {
        font-size: 20px;
    }

    .susbscription {
        width: 63%;
    }

    .button-send {
        width: 18%;
        height: 15px;
        left: 19%;
    }

    .social-img img {
        width: 20px;;
    }

    .dress {
        font-size: 8px;
    }
}