@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    box-sizing: border-box;
}

:root {
    --one-color: #F94144;
    --two-color: #F3722C;
    --three-color: #F8961E;
    --four-color: #F9C74F;
    --five-color: #90BE6D;
    --six-color: #43AA8B;
    --seven-color: #577590;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: 'Quicksand';
}

/*---HEADER---*/

header {
    display: flex;
    margin: 1%;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 7%;
    height: 7%;
}

.menu {
    display: flex;
    list-style: none;
}

li {
    padding-right: 25px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--seven-color);
    font-size: 14px;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
}

.bar {
    background-color: var(--seven-color);
    opacity: 0.3;
    border-radius: 40px;
    border: none;
    width: 70%;
    outline: none;
}

.lupa {
    height: 11px;
    width: 10px;
    position: relative;
    right: 25px;
    top: 1px;
}

.btn {
    background-color: var(--seven-color);
    border-radius: 40px;
    border: none;
    color: white;
    width: 50%;
    font-family: 'quicksand';
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.5;
}

@media (max-width: 426px) {
    body {
        margin: 0 auto;
        max-width: 100%;
    }

    header {
        margin: 3%;
    }

    .menu {
        display: none;
    }

    img {
        width: 15%;
    }

    .search {
        position: relative;
        left: 26%;
        top: -2px;
    }

    .bar {
        width: 50%;
    }

    .lupa {
       height: 9px;
       width: 8px; 
    }

    .btn {
        font-size: 10px;
        width: 40%;
        height: 18px;
    }
}

/*---HOME---*/

.home {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px -140px 0px;
}



.title-blue {
    display: inline;
    color: var(--seven-color);
    font-size: 167px;
}

.title-yellow {
    display: inline;
    color: var(--three-color);
    font-family: 'Pacifico';
    font-size: 151px;
    position: relative;
    top: -22%;
}

.title-orange {
    color: var(--two-color);
    font-size: 40px;
    position: relative;
    top: -36%;
}

.home-title button {
    position: relative;
    top: -38%;
    background-color: var(--three-color);
    border: none;
    border-radius: 30px;
    width: 45%;
    height: 30px;
}

.home-title button a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand';
    font-size: 17px;
}

.imageHome {
    width: 50%;
}

@media (max-width: 426px) {
    .home {
        margin: 40px 0px -60px 0px;
    }

    .home-title {
        margin-left: 10px;
    }

    .title-blue {
        font-size: 70px;
    }

    .title-yellow {
        font-size: 50px;
        top: -20%;
    }

    .title-orange {
        font-size: 18px;
        top: -32%;
    }

    .home-title button {
        top: -34%;
        width: 60%;
        height: 20px;
    }

    .home-title button a{
        font-size: 12px;
    }
}

/*---OPTIONS---*/

.options h2 {
    color: var(--seven-color);
    font-size: 20px;
}

.btn-tips {
    display: flex;
    justify-content: space-between;
}

.btn-tips button {
    border: none;
    background-color: #e6e6e6;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    border-radius: 14px;
}

.btn-tips a {
    font-family: 'Quicksand';
    color: var(--seven-color);
    text-decoration: none;
}

.img-btn {
    width: 40px;
    height: 40px;
}

@media (max-width: 426px) {
    .options h2 {
        color: var(--seven-color);
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    .btn-tips {
        flex-direction: column;
        align-items: center;
    }

    .btn-tips button {
        width: 60%;
        margin-bottom: 15px;
    }
}

/*---ABOUT US---*/

.about {
    display: flex;
    align-items: center;
    margin: 8% 0;
}

.about-us {
    color: var(--seven-color);
}

.image-about {
    width: 50%;
}

.title-about {
    font-weight: 700;
    font-size: 19px;
}

.about-us h2 {
    font-size: 42px;
    line-height: 50px;
    margin: 0;
}

.text-green{
    color: var(--six-color);
    font-family: 'Pacifico';
    font-size: 53px;
}

.about-us p {
    font-size: 20px;
}

.green {
    background-color: var(--six-color);
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    width: 40%;
    height: 30px;
    font-family: 'Quicksand';
}

@media (max-width: 426px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .image-about{
        width: 100%;
    }

    .about-us {
        margin: 0 8%;
    }

    p.title-about {
        font-size: 15px;
        margin: 0;
    }

    .about-us h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .text-green{
        font-size: 34px;
    }

    .about-us p {
        font-size: 15px;
        text-align: justify;
    }

    .green {
        font-size: 10px;
        width: 30%;
        height: 20px;
    }
}

/*---CLIENTS---*/

.clients {
    display: flex;
    flex-direction: column;
    margin: 8% 0;
}

.clients h2 {
    font-size: 35px;
    color: var(--seven-color);
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(white, #DFDFE0);
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
}

img.client {
    width: 80%;
    height: 80%;
    margin: 10px 0;
}

img.stars {
    width: 30%;
    height: 30%;
}

.card p {
    color: var(--seven-color);
    font-size: 12px;
    font-weight: 600;
    margin: 6% 15%;
    text-align: justify;
}